{% load bootstrap3 %}
{% load staticfiles %}


{% block head %}

<!DOCTYPE html>
<html lang = "en">
<head>
	<title> Random Champion </title>
	<meta content = "text/html; charset = UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "css/flat-ui.css" %}" type="css">
<link rel="stylesheet" href="{% static "css/style.css" %}" type="css">

{% endblock %}

{% block content %}
<div id = "header" class = "header">
	<div class = "vert-text">
		<h1> WHAT THE FUCK SHOULD I PLAY </h1>
			<div class = "btn-group">	
			<div class = "nav navbar-nav">
				<li><form id = "choose_form" method = "post" action = "/all/" >
					{% csrf_token %} 
					<input type="submit" name="submit" value="ALL" class = "btn btn-default" />
				</form></li>
				<li><form id = "choose_form" method = "post" action = "/top/">
					{% csrf_token %} 
					<input type="submit" name="submit" value="TOP" class = "btn btn-default" />
				</form></li>
	  			<li><form id = "choose_form" method = "post" action = "/jungler/">
					{% csrf_token %} 
					<input type="submit" name="submit" value="JUNGLE" class = "btn btn-default" />
				</form></li>
				<li><form id = "choose_form" method = "post" action = "/mid/">
					{% csrf_token %} 
					<input type="submit" name="submit" value="MID" class = "btn btn-default" />
				</form></li>
				<li><form id = "choose_form" method = "post" action = "/marksman/">
					{% csrf_token %} 
					<input type="submit" name="submit" value="MARKSMAN" class = "btn btn-default" />
				</form></li>
				<li><form id = "choose_form" method = "post" action = "/support/">
					{% csrf_token %} 
					<input type="submit" name="submit" value="SUPPORT" class = "btn btn-default" />
				</form></li>
			</div>
			</div>
	</div>
</div>


{% endblock %}
